
body{
    background-color:#1e3799 !important;
    color:white !important;
}
.Box{
    margin-top:60px !important;
    width:60%;
    margin:10px auto;
    text-align:center;
    border:2px solid white;
   
}
.diceRow1,.diceRow2{
    padding:15px;
    display:flex;
    direction:row;
    justify-content:space-around;
    border:1px solid white;
}
.diceRow1 div{
border:1px solid white;
padding:20px;
}
